.container{
    @media (min-width: 320px) and (max-width: 480px) {
        margin-left: 25px;
        margin-right: 25px;
    }
    @media (min-width: 481px) and (max-width: 767px) {
        margin-left: 25px;
        margin-right: 25px;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
        margin-left: 25px;
        margin-right: 25px;
    }

    @media (min-width: 1025px) {
        margin-right: 250px;
        margin-left: 250px;
    }
}