body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 0.03em;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
  }
  .link {
    text-decoration: none;
  }