.contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.contacts>h2{
    margin-top: 114px;
    margin-bottom: 20px;
    font-size: 34px;
}
.contacts__list{
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--gray);
    @media screen and (max-width: 768px){
        text-align: center;
        font-size: 15px;
        line-height: 22px;
        gap: 5px;
    }
}

.contacts__btn{
    width: 200px;
    height: 50px;
    background-color: var(--black);
    line-height: 22px;
    border-radius: 30px;
    margin-bottom: 86px;
    @media screen and (max-width: 768px){
        width: 265px;
    }
}
.contacts__btn:active{
    transform: scale(0.93);
}
.contacts__btn>a{
    color: white;
    font-size: 22px;
    font-weight: 600;
    @media screen and (max-width: 768px){
        font-size: 30px;
    }
}

.contacts__list--two{
    display: flex;
    gap: 60px;
    margin-bottom: 45px;
    margin-left: -50px;
    @media screen and (max-width: 768px){
        gap: 30px;
        margin-left: -30px;
    }
}

