
.main__header {
    margin-bottom: 50px;
    @media (min-width: 320px) and (max-width: 480px) {
    }
    @media (min-width: 481px) and (max-width: 767px) {
    }
    @media (min-width: 768px) and (max-width: 1024px) {
    }
}
.briefly {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 768px){
        display: flex;
        flex-direction: column;
    }
}
.briefly__tittle {
    font-size: 47px;
    line-height: 59px;
    width: 230px;
    color: var(--black);
    @media screen and (max-width: 768px){
        font-size: 30px;
        line-height: 40px;
        margin-top: 40px;
        margin-bottom: 25px;
    }
}
.briefly__par {
    font-size: 22px;
    line-height: 30px;
    color: var(--black);
    width: 220px;
    @media screen and (max-width: 768px){
        font-size: 20px;
        line-height: 25px;
        margin-left: -60px;
    }
}

.briefly__list{
    display: flex;
    transform: rotate(-90deg);
    margin-right: 0;
    @media screen and (max-width: 768px){
        display: none;
    }
}
.briefly__list__link--btn {
    border: 0;
    background-color: transparent;
    
}
.ru{
    color: var(--black);
    font-size: 22px;
    line-height: 20px;
}
.eng{
    color: var(--gray);
    font-size: 22px;
    line-height: 20px;
}
.briefly__list__link--btn:hover {
    transition: color var(--transition-animation);
    color: var(--black);
    cursor: pointer;
    text-decoration: none;
}

.photo{
    display: flex;
    justify-content: center;
    margin-bottom: 105px;
    
}
.photo__one{
    max-width: 850px;
    height: 600px;
    @media screen and (max-width: 768px){
        display: none;
    }
    @media (min-width: 481px) and (max-width: 767px) {
        max-width: 751px;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
        max-width: 751px;
    }
}
.photo__two{
    @media (min-width: 320px) and (max-width: 479px) {
        max-width: 280px;
        height: 440px;
    }
    @media (min-width: 480px) and (max-width: 767px) {
        max-width: 331px;
        height: 440px;
    }
    @media screen and (min-width: 768px){
        display: none;
    }
}